<div class="header" [ngClass]="navbarClicked ? 'navShow' : 'navHidden'">
  <div class="imgWrapper" >
    <img (click)="onClick('home')" src="../../../../assets/profile.jpg" alt="profile">
  </div>
  <div class="gap">
    <div class="content">
      <img src="../../../../assets/footerLogo.svg" alt="logo">
      <h4>Software Engineer</h4>
    </div>
  </div>
  <div *ngIf="!collapse" class="navBar">
    <div class="navItem">
      <span (click)="onClick('about')">About</span>
    </div>
    <div class="navItem">
      <span (click)="onClick('projects')">Projects</span>
    </div>
    <div class="navItem">
      <span (click)="onClick('writing')" id="test">Writing</span>
    </div>
  </div>
  <div *ngIf="collapse" class="navbar">
    <div id="sandwich" (click)="handleOnClick()">
      <div class="sw-topper"></div>
      <div class="sw-bottom"></div>
    </div>
  </div>
</div>
<div class="collapsedContent" [ngClass]="navbarClicked ? 'show' : 'hide'">
  <div class="navBarCollapse" [ngClass]="navbarClicked ? 'showBar' : 'hideBar'">
    <div class="navItem"  [ngClass]="navbarClicked ? 'showBar' : 'hideBar'">
      <span (click)="onClick('about')">About</span>
    </div>
    <div class="navItem" [ngClass]="navbarClicked ? 'showBar' : 'hideBar'">
      <span (click)="onClick('projects')">Projects</span>
    </div>
    <div class="navItem" [ngClass]="navbarClicked ? 'showBar' : 'hideBar'">
      <span (click)="onClick('writing')" id="test">Writing</span>
    </div>
  </div>
</div>