<div class="header">
  <div class="imgWrapper" >
    <img (click)="onClick('home')" src="../../../../assets/profile.jpg" alt="profile">
  </div>
  <div class="gap">
    <div class="content">
      <!-- <h3>Jon Rinciari</h3> -->
      <img src="../../../../assets/footerLogo.svg" alt="logo">
      <h4>Software Engineer</h4>
    </div>
  </div>
  <div *ngIf="!collapse" class="navBar">
    <div class="navItem">
      <span (click)="onClick('about')">About</span>
    </div>
    <div class="navItem">
      <span (click)="onClick('projects')">Projects</span>
    </div>
    <div class="navItem">
      <span (click)="onClick('writing')" id="test">Writing</span>
    </div>
  </div>
  <div *ngIf="collapse" class="navbar">
    X
  </div>
</div>