
@import 'src/variables';

.header {
  display: grid;
  grid-template-columns: 1fr 10fr 4fr;
  grid-template-rows: 1fr;
  padding-bottom: .5rem;
  .imgWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: .5rem;
    img {
      position: absolute;
      cursor: pointer;
      top: 0px;
      left: 0px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      opacity: 1;
      transition: opacity 0.5s ease 0s;
    }
  }

  .navBar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 1rem;

    .navItem {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: '.' 'navContent' '.';
      position: relative;
      

      span {
        grid-area: navContent;
        text-align: center;
        font-size: 20px;
        color: white;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    }


  }
}

span:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: $primary;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

span:hover:after { 
  width: 50%;
  left: 25%;
}

.gap {
  display: flex;
  flex-direction: row;
  align-items: center;
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1rem;
    h3 {
      font-size: 2rem;
      line-height: 2rem;
      color: white;
    }

    h4 {
      color: rgb(238, 238, 238);
      font-weight: 400;
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: .1rem;
    }
  }
}
