<div class="container" (scroll)="onScrollEvent($event)">

<nav id="header">
  <app-header (scrollTo)="handleOnScroll($event)" #header></app-header>
</nav>


<section id="home" #home class="content">
  <div>
    <app-triangle borderTop='30vh solid #FF00CA' borderRight="100vw solid transparent"></app-triangle>
    <app-triangle borderTop='90vh solid #c30ce894' borderRight="100vw solid transparent"></app-triangle>
    <app-triangle borderTop='29vh solid rgb(75, 0, 125)' borderLeft="50vw solid transparent"></app-triangle>
  </div>
  <div class="greeting">
    <h1>Hello, I'm Jon</h1> 
    <app-scroll-text></app-scroll-text>
    <div class="socialWrapper">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-medium-m"></i>
    </div>
    <div id=mouse_body>
      <div id=mouse_wheel></div>
    </div>
  </div>
</section>


<section id="about" #about class="content">
  <div>
    <app-triangle top="50%" left="0%" borderBottom='59vh solid rgb(255, 121, 176)' borderLeft="100vw solid transparent"></app-triangle>
    <app-triangle borderTop='20vh solid rgb(75, 0, 125)' borderLeft="75vw solid transparent"></app-triangle>
    <app-triangle borderTop='25vh solid rgb(240, 230, 246)' borderRight="100vw solid transparent"></app-triangle>
  </div>
  <div class="aboutContent">
    <div class="innerAboutWrapper">
      <div class="aboutTitle">
        <h2>About Me</h2>
      </div>
      <div class="aboutBody">
        <div class="leftContent">
          <p>I am a Software Engineer in New Haven, Connecticut developing beautiful websites, mobile applications, and contributing to open source.</p>
          <p>Web Development is not just my career, but it is also my passion. I find beauty in solving problems, and engineering creative solutions.</p>
          <p>I work as a Technical Lead at a startup in New Haven, Connecticut creating a fast, and beautiful enterprise application.</p>
        </div>
        <div class="rightContent"></div>
      </div>
    </div>
  </div>
</section>


<section id="project" #projects class="content">
  <div>
      <app-triangle zIndex="-5" right="-13%" top="33%" rotate="23" borderLeft='120vw solid transparent' borderBottom="68vh solid rgb(240, 230, 246)"></app-triangle>
  </div>
  <div class="aboutContent">
    <div class="innerAboutWrapper">
      <div class="aboutTitle">
        <h2>Projects</h2>
      </div>
      <div class="projectBody">
        <app-card
          title="YelpApi"
          description="Nativescript plugin built using mobile Yelp libraries. Allows users to search for businesses and find reviews with a simplified API."
          projectType="Mobile"
          date="2018"
          imgSrc="../../assets/yelp3.svg"
          projectUrl="https://github.com/jonathanRinciari/nativescript-plugin-yelpapi"
        >
      </app-card>
      <app-card
          title="React Native Swipeable Cards"
          description="Swipeable cards built using react natives animation and gesture libraries. Designed for multi-directional panning and configuration."
          projectType="Mobile"
          date="2018"
          [styles]="{width: '65%'}"
          imgSrc="../../assets/react-native.png"
          projectUrl="https://github.com/jonathanRinciari/React-Native-Swipeable-Cards">
      </app-card>
      <app-card
          title="Angular Grid Directive"
          description="A directive based API for a 12-column responsive grid layout. Easy to get started and use!"
          projectType="Web"
          date="2018"
          [styles]="{width: '75%'}"
          imgSrc="../../assets/angular.svg"
          projectUrl="https://github.com/jonathanRinciari/nativescript-plugin-yelpapi"
        >
      </app-card>
      </div>
    </div>
  </div>
</section>

<section id="writing" #writing class="content">
    <div>
        <app-triangle borderRight='100vw solid transparent' left="0%" top="80%" borderBottom="34vh solid rgb(75, 0, 125)"></app-triangle>
    </div>
    <div class="aboutContent">
      <div class="innerAboutWrapper">
        <div class="aboutTitle">
          <h2>Writing</h2>
        </div>
        <div class="projectBody">
          <app-card
            title="YelpApi"
            description="Nativescript plugin built using mobile Yelp libraries. Allows users to search for businesses and find reviews with a simplified API."
            projectType="Mobile"
            date="2018"
            imgSrc="../../assets/yelp3.svg"
            projectUrl="https://github.com/jonathanRinciari/nativescript-plugin-yelpapi"
          >
        </app-card>
        <app-card
            title="React Native Swipeable Cards"
            description="Swipeable cards built using react natives animation and gesture libraries. Designed for multi-directional panning and configuration."
            projectType="Mobile"
            date="2018"
            [styles]="{width: '65%'}"
            imgSrc="../../assets/react-native.png"
            projectUrl="https://github.com/jonathanRinciari/React-Native-Swipeable-Cards">
        </app-card>
        <app-card
            title="Angular Grid Directive"
            description="A directive based API for a 12-column responsive grid layout. Easy to get started and use!"
            projectType="Web"
            date="2018"
            [styles]="{width: '75%'}"
            imgSrc="../../assets/angular.svg"
            projectUrl="https://github.com/jonathanRinciari/nativescript-plugin-yelpapi"
          >
        </app-card>
        </div>
      </div>
    </div>
  </section>
</div>