@import 'src/variables';


.container {
  overflow-y: auto;
  height: 100vh;
}

.scrollingHeader {
  background: rgb(75, 0, 125);
}


nav {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 4;
  transition: all ease 500ms;

  app-header {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }

}

.greeting {
  min-height: 75vh;
  min-width: 320px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  margin: auto;
  flex: 0 1 auto;
  padding: 5em 1em;

  .socialWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 2.5rem;

    i {
      margin-left: 1rem;
      margin-right: 1rem;
      color: #4b007d;
      cursor: pointer;
      transition: color ease 400ms;
    }

    i:hover {
      color: #c30ce894;
    }
  }


  h1 {
    font-size: 72px;
    margin-bottom: 3rem;
    font-weight: 600;
    color: #4b007d;
    text-align: center;
  }
}

#mouse_body {
  border-style: solid;
  border-width: 2px;
  border-color: $misc;
  border-radius: 32px;
  height: 60px;
  width: 35px;
  margin: 0 auto;
  position: absolute;
  bottom: -8%;
  left: 49%;
}

#mouse_wheel {
  border-style: solid;
  border-width: 2px;
  border-color: $misc;
  border-radius: 8px;
  background-color: $misc;
  /* position property required to play animation  */
  position: relative; 
  height: 3px;
  width: 3px;
  /* to center wheel in mouse body */
  margin: 0 auto; 
  animation: wheel_animation 1.5s linear infinite;
}

/* include use -moz-, -webkit-, or -o- for respective browser type*/
@keyframes wheel_animation { 
  0% {
    opacity: 0;
    top: 2px;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 33px;
  }
}


.content {
  position: relative;
  box-sizing: inherit;
}

.aboutContent {
  min-height: 50vh;
  min-width: 320px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: flex-start;
  // // scroll-behavior: ;
  margin: auto;
  z-index: -1;
  flex: 0 1 auto;
  padding: 5em 1em;
  position: relative;
  left: -71%;
  transition: all ease-in 500ms;

  .innerAboutWrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    .aboutTitle {
      h2 {
        box-sizing: border-box;
        font-size: 2rem;
        color: rgb(255, 0, 202);
        font-weight: 600;
        margin: 0px 0px 32px;
        width: fit-content;
        padding-bottom: .5rem;
        border-bottom: 5px solid rgb(174, 102, 223);
      }
  }

  
  }

  .aboutBody {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    .leftContent {
      width: 66.6667%;

      p {
        color: #4b007d;
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2rem;  
      }
    }

    .rightContent {
      max-width: 300px;
      margin: auto;
    }
  }
}

.projectContent {
  min-height: 50vh;
  min-width: 320px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: flex-start;
  // scroll-behavior: smooth;
  margin: auto;
  z-index: 1;
  flex: 0 1 auto;
  padding: 7em 1em;
  position: relative;
  left: -100%;
  transition: all ease-in 500ms;

    .projectTitle {
      h2 {
        box-sizing: border-box;
        font-size: 2rem;
        color: rgb(255, 0, 202);
        font-weight: 600;
        margin: 0px 0px 32px;
        width: fit-content;
        padding-bottom: .5rem;
        border-bottom: 5px solid rgb(174, 102, 223);
      }
  }
}

.projectBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 30px 30px;
}

@media only screen and (max-width: 400px) {
  .projectBody {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .writingBody {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.writingContent {
  min-height: 50vh;
  min-width: 320px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: flex-start;
  // scroll-behavior: smooth;
  margin: auto;
  transition: all ease-in 500ms;
  position: relative;
  left: -100%;
  z-index: 1;
  flex: 0 1 auto;
  padding: 5em 1em;

    .writingTitle {
      h2 {
        box-sizing: border-box;
        font-size: 2rem;
        color: rgb(255, 0, 202);
        font-weight: 600;
        margin: 0px 0px 32px;
        width: fit-content;
        padding-bottom: .5rem;
        border-bottom: 5px solid rgb(174, 102, 223);
      }
  }

  .writingBody {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    gap: 30px 30px;
  }
}


.footer {
  background: #ae66df;
  padding: .25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 2rem;
  }
}

.animate {
  left: 0%;
}