@import 'src/variables';


.container {
  overflow-y: auto;
  height: 100vh;
}

.scrollingHeader {
  background: rgb(75, 0, 125);
}


nav {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  transition: all ease 400ms;

}

.greeting {
  min-height: 75vh;
  min-width: 320px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
  margin: auto;
  flex: 0 1 auto;
  padding: 5em 1em;

  .socialWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 2.5rem;

    i {
      margin-left: 1rem;
      margin-right: 1rem;
      color: #4b007d;
      cursor: pointer;
      transition: color ease 400ms;
    }

    i:hover {
      color: #c30ce894;
    }
  }


  h1 {
    font-size: 72px;
    margin-bottom: 3rem;
    font-weight: 600;
    color: #4b007d;
    text-align: center;
  }
}

#mouse_body {
  border-style: solid;
  border-width: 2px;
  border-color: $misc;
  border-radius: 32px;
  height: 60px;
  width: 35px;
  margin: 0 auto;
  position: absolute;
  bottom: -8%;
  left: 49%;
}

#mouse_wheel {
  border-style: solid;
  border-width: 2px;
  border-color: $misc;
  border-radius: 8px;
  background-color: $misc;
  /* position property required to play animation  */
  position: relative; 
  height: 3px;
  width: 3px;
  /* to center wheel in mouse body */
  margin: 0 auto; 
  animation: wheel_animation 1.5s linear infinite;
}

/* include use -moz-, -webkit-, or -o- for respective browser type*/
@keyframes wheel_animation { 
  0% {
    opacity: 0;
    top: 2px;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 33px;
  }
}


.content {
  position: relative;
  box-sizing: inherit;
}

.aboutContent {
  min-height: 100vh;
  min-width: 320px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
  margin: auto;
  z-index: 1;
  flex: 0 1 auto;
  padding: 5em 1em;

  .innerAboutWrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    .aboutTitle {
      h2 {
        box-sizing: border-box;
        font-size: 2rem;
        color: rgb(255, 0, 202);
        font-weight: 600;
        margin: 0px 0px 32px;
      }
  }

  
  }

  .aboutBody {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    .leftContent {
      width: 66.6667%;

      p {
        color: #4b007d;
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2rem;  
      }
    }

    .rightContent {
      max-width: 300px;
      margin: auto;
    }
  }
}

.card {
  box-sizing: border-box;
  background-color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  top: 0px;
  height: 100%;
  cursor: default;
  padding: 0px;
  border-radius: 8px;
  transition: all 0.25s ease 0s;
  height: 200px;
  width: 100%
}

.card:hover {
  top: 20px;
}

.projectBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 30px 30px;
}