
<div class="container" (scroll)="onScrollEvent($event)">
  <nav id="header">
    <app-header (scrollTo)="handleOnScroll($event)" #header></app-header>
  </nav>

<section id="home" #home class="content">
  <div>
    <app-triangle borderTop='30vh solid rgb(240, 230, 246)' borderRight="100vw solid transparent"></app-triangle>
    <app-triangle borderTop='90vh solid #c30ce894' borderRight="100vw solid transparent"></app-triangle>
    <app-triangle borderTop='29vh solid rgb(75, 0, 125)' borderLeft="50vw solid transparent"></app-triangle>
  </div>
  <div class="greeting">
    <h1 data-aos="slide-right">Hello, I'm Jon</h1> 
    <app-scroll-text data-aos="slide-right"></app-scroll-text>
    <div class="socialWrapper" data-aos="slide-right">
      <a href="https://twitter.com/jonrinciari" target="_blank"> 
        <i tooltip="Twitter" placement="bottom" show-delay="200" hide-delay="100" class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/jonathanRinciari" target="_blank">
        <i tooltip="Github" placement="bottom" show-delay="200" hide-delay="100" class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/jonathan-rinciari-91072a137/" target="_blank">
        <i tooltip="Linkedin" placement="bottom" show-delay="200" hide-delay="100" class="fab fa-linkedin"></i>
      </a>
      <a href="https://medium.com/@rinciarijoc" target="_blank">
        <i tooltip="Medium" placement="bottom" show-delay="200" hide-delay="100" class="fab fa-medium-m"></i>
      </a>
    </div>
    <div id=mouse_body>
      <div id=mouse_wheel></div>
    </div>
  </div>
</section>


<section id="about" #about class="content">
  <div>
    <app-triangle top="50%" left="0%" borderBottom='59vh solid rgb(255, 121, 176)' borderLeft="100vw solid transparent"></app-triangle>
    <app-triangle borderTop='20vh solid rgb(75, 0, 125)' borderLeft="75vw solid transparent"></app-triangle>
    <app-triangle borderTop='25vh solid rgb(240, 230, 246)' borderRight="100vw solid transparent"></app-triangle>
  </div>
  <div class="aboutContent">
    <div class="innerAboutWrapper" id="innerAbout">
      <div class="aboutTitle">
        <h2 >About Me</h2>
      </div>
      <div class="aboutBody">
        <div class="leftContent">
          <p>I am a Software Engineer in New Haven, Connecticut developing beautiful websites, mobile applications, and contributing to open source.</p>
          <p>Web Development is not just my career, but it is also my passion. I find beauty in solving problems, and engineering creative solutions.</p>
          <p>I work as a Technical Lead at a startup in New Haven, Connecticut creating a fast, and beautiful enterprise application.</p>
        </div>
        <div class="rightContent">
          <div>
            <img src="../../../assets/diamond.svg" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="project" #projects class="content">
  <div>
      <app-triangle zIndex="-5" right="0%" left="0%" top="73%" borderRight='100vw solid transparent' borderBottom="25vh solid rgb(240, 230, 246)"></app-triangle>
      <app-triangle zIndex="-5" right="0%" left="0%" top="73%" borderLeft='100vw solid transparent' borderTop="25vh solid rgb(255, 121, 176)"></app-triangle>
  </div>
  <div class="projectContent">
    <div class="innerProjectWrapper">
      <div class="projectTitle">
        <h2>Projects</h2>
      </div>
      <div class="projectBody">
        <app-card
          title="YelpApi"
          description="Nativescript plugin built using mobile Yelp libraries. Allows users to search for businesses and find reviews with a simplified API."
          projectType="Mobile"
          date="2018"
          imgSrc="../../assets/yelp3.svg"
          projectUrl="https://github.com/jonathanRinciari/nativescript-plugin-yelpapi"
        >
      </app-card>
      <app-card
          title="React Native Swipeable Cards"
          description="Swipeable cards built using react natives animation and gesture libraries. Designed for multi-directional panning and configuration."
          projectType="Mobile"
          date="2018"
          [styles]="{width: '65%'}"
          imgSrc="../../assets/react-native.png"
          projectUrl="https://github.com/jonathanRinciari/React-Native-Swipeable-Cards">
      </app-card>
      <app-card
          title="Angular Grid Directive"
          description="A directive based API for a 12-column responsive grid layout. Easy to get started and use!"
          projectType="Web"
          date="2018"
          [styles]="{width: '75%'}"
          imgSrc="../../assets/angular.svg"
          projectUrl="https://github.com/jonathanRinciari/nativescript-plugin-yelpapi"
        >
      </app-card>
      </div>
    </div>
  </div>
</section>

<section id="writing" #writing class="content">
    <div>
        <app-triangle borderRight='100vw solid transparent' left="0%" bottom="0%" borderBottom="34vh solid rgb(75, 0, 125)"></app-triangle>
    </div>
    <div class="writingContent">
      <div class="innerWritingContent">
        <div class="writingTitle">
          <h2>Writing</h2>
        </div>
        <div class="writingBody">
          <app-blog-card
            blogTitle="Angular 6 Validators"
            blogDate="April 2019 - 4 Min"
            blogDescription="Creating beautiful forms in angular 6 is a simple task thanks to the reactive forms module. This module out of box contains 4 basic validators required, minLength, maxLength and pattern. These are a great starting place, but they will soon fall short of meeting the acceptance criteria on that open issue."
            ></app-blog-card>
          <app-blog-card blogTitle="NGRX State Management - Overview" blogDate="April 2019 - 5 Min" ></app-blog-card>
          <app-blog-card blogTitle="Surgical Consultant to Fullstack Developer" blogDate="Dec 2015 - 4 Min"></app-blog-card>
        </div>
      </div>
    </div>
  </section>
  <div class="footer">
    <img src="../../../assets/footerLogo.svg" alt="logo">
  </div>
</div>